*.o
*.exe
/cmake-build-debug/
/cmake-build-debug/CMakeFiles/
/cmake-build-debug/RayData_autogen/
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/Makefile
/cmake-build-debug/qrc_resources.cpp
/cmake-build-debug/RayData
/cmake-build-debug/RayData.cbp
/cmake-build-debug/resources.qrc.depends
